.picture{
    background-color: red;
    width :100%;

}
.col-sm-12
{
    box-sizing: border-box;
}
.row-3
{
padding-left: 20%;
   padding-top: 10%;
}
.row-4
{
    padding-left: 17%;
    padding-top: 1%;
}





