.picture{
    background-color: red;
    width :100%;

}
.col-sm-12
{
    box-sizing: border-box;
}
.row-3
{
padding-left: 15%;
   padding-top: 10%;
   margin-top: 8%;
}
.icon-body
{
   padding-right: 10%;
}





