.input-check
{
    width: 40px;
    background-color: red;
    transform: scale(1.5);
}
.inputtext
{
    width: 300px;
   
}
.list
{
    display: flex;
}
.list-1
{
    display: flex;;
}
.lcd
{
    padding-left: 10%;
}
.price
{
    padding-left: 20%;
}
.mt-5
{
display: flex;

}
 
.pricetotal
{
    padding-left: 44%;
}
.coupon
{
    border:'2px solid black';
     margin-left: 3%;

    border-radius: 6px;
    width: 180px;
    height: 40px;
    color: white;
      box-sizing: border-box; 
      background-color: rgba(61, 64, 222, 0.733);
      transition: 0.3s all ease;
}
.coupon:hover
{
    width: 185px;
    height: 45px;
    transform: scale(1.1);
    transition: scale 0,3 all ease-in;
    

}
