#Contact-hero {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
}
#Contact-hero .row{
    display: flex;
    justify-content: space-between;
    
}
#Contact-Form {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#Contact-Form form {
    width: 95%;
    height: 100%;
    text-align: -webkit-center;
    padding: 10px;
    align-content: center;
}

#Contact-Form form textarea,
#Contact-Form form input {
    width: 90%;
    height: 50px;
    margin: 10px 0px;
}

#Contact-Form form button {
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 20px;
    width: 90%;
    border-radius: 5px;
    transition: 0.3s all ease;
    font-family: "Montserrat";
}

#Contact-Form form button:hover {
    transform: scale(1.1);
    background-color: rgb(65, 36, 255);
    color: rgb(255, 255, 255);
    transition: scale 0.3s all ease;
}

.Contact-desc {
    text-align: left;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    padding-top: 30px;
    border-radius: 5px;
}
.Contact-desc .heading{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.heading span{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #ff4d4d;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Contact-desc p {

    font-size: 17px;
    padding-left: 10px;

}

.Contact-desc h2 {
    margin: 20px 0px;
}