body,html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
   



#p2
{
    padding-left: 88px;
    padding-top: 34px;
    font-size: larger;
    font-weight: 600;
}
#p1
{
    padding-left: 49px;
    padding-top: 30px;

}
#p3
{
    padding-top: 20px;
    padding-left: 48px;
}
#p4
{
   
    font-size: larger;
    font-weight: 600;
    margin-left: 86px;
}
#p5
{
    
    padding-left: 48px;
    margin-top: 26px;
}
#p6
{
    padding-left: 48px;
    margin-top: 21px;
}
#p7
{padding-left: 49px;
    padding-top: 18px;
}
hr{
    width: 80%;
    border: 1px solid black;
    margin: 47px;
}
input
{margin-left: 40px;
    height: 38px;
    width: 186px;
    
}
textarea{
    margin-left: 41px;
    margin-top: 30px;
    width: 640px;
    height: 193px;
}
#b1
{float: right;
    background-color: red;
    margin-top: 181px;
    height: 32px;
    width: 141px;
    margin-right: 50px;
    color: white;
}
#b1:hover
{
    cursor: pointer;
}

.class1
{
    
    background-color: #f8f8f8;
    width: 401px;
    margin: 240px 155px;
    
    height: 484px;
}
.class2
{background-color: #f8f8f8;
    
    width: 733px;
    height: 484px;
    margin: -721px 588px;
   

}
.container
{
    flex-grow: 1;
}
